body {
	background-color: #B5F4FF;
}

h1, h2 {
	font-family: Helvetica;
	margin: 30px;
}

h2 {
	font-size: 25px;
}

header {
	font-size: 30px;
	display: flex;
	justify-content: space-around;
	background-color: #007bff;
	border-radius: 5px;
	padding: 10px;
	margin: 30px;
}

div {
	padding: 20px;
}

a {
	color: white;
	text-decoration: none;

}

a:hover {
	color: darkred;
}

img {
	width: 10%;
	border: solid skyblue 5px;
	box-shadow: 5px 5px 5px 5px rgba(32,32,32,0.3);
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}

#contenido {
	padding: 30px;
	font-size: 20px;
	font-family: Arial;
	width: 95%;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 30px;
	
}

.inicioIMG {
	display: inline-block;
	width: 200px;
}

.sobremiIMG {
	display: inline-block;
	width: -200px;
}